body {
  background-color: #e9ebec;
}

#container {
  margin: 0 auto;
  max-width: 800px;
}

#bodyStyle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 65px;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 46px;
  font-weight: 500;
  margin: 0;
  font-size: 46px;
  color: #3D3D3D;
  font-family: Roboto;
font-size: 46px;
font-weight: 500;
line-height: 69px;
letter-spacing: 0em;
text-align: left;

}

p {
  margin: 0;
}

#darkModeButton {
  background-color: white;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  margin-top: 33px;
}

#profileDetails {
  display: flex;
  flex-direction: column;
}

#profile {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

#socialMediaIcons {
  display: flex;
  gap: 25px;
}

#softwareEngineerText {
  margin-bottom: 12px;
  margin-top: 3px;
}

#profileImage {
 
  border-radius: 50%;
  display: flex;
 
}

#descriptions {
  display: flex;
  column-gap: 45px;
  text-align: center;
  justify-content: center;
  font-size: 22px;
}

#individualDescription {
  width: 20%;
}

#descriptionNumber {
  color: #3a3a3a;
}

#descriptionText {
  color: #575757;
}

#downloadButton {
  background-color: #fbd144;
  display: flex;
  align-items: center;
  padding: 24px 50px;
  line-height: 33px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
}

#contactButton {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 24px 81px;
  line-height: 33px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
}

#downloadContactButtons {
  display: flex;
  column-gap: 38px;
}

#downloadButtonIcon {
  margin-left: 15px;
}

#portfolioButton {
  background-color: #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px 0px;
  line-height: 33px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  width: 100%;
}

#skillsButton {
  background-color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 24px 0px;
  line-height: 33px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  width: 100%;
}

#portfolioSkillsButtons {
  display: flex;
  background-color: white;
  padding: 15px 24px;
  border-radius: 20px;
  width: 94%;
}

#portfolioImages {
  display: flex;
  column-gap: 32px;
  width: 100%;
}

#groupPortfolioImages {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  width: 100%;
}

#footerText {
  margin-bottom: 80px;
  margin-top: 80px;
  color: #575757;
}